#login{
    background-color: rgba(0,0,0,0.9);
    width:100%;
    text-align: center;
    z-index:9999;
    padding-top:0px;
    margin-top:0px;
    position: absolute;
    top:0px;
    left:0px;
}
#login label{
    display: block;
}
#loginInput{
    margin: 0 auto;
}
#passwordInput{
    margin: 0 auto;
}
#loginContainer{
    position:relative;
    top:100px;
}
#loginAccept{
    background: red;
    width:150px;
    height: 50px;
    font-size: 40px;
    line-height: 50px;
    vertical-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
